.venv
.vscode
.env
.conda
__pycache__
.DS_Store
*.code-workspace
.github
*.csv
test.py
*.ts
*.json

/data-voters
/data-relay-depositors
/data-lp
/data-relay
/data-combined
/data-ve
/test
/node_modules
/internal

create-rootPool.py
note.md
positions.py
spice-script.py
sugar-sdk.py
sqrtpriceX96.ipynb
sqrtpriceX96.py
universal-router-decoder.py
universal-router-decoder.ipynb